APP_NAME=EFI Boleto API
APP_ENV=development
APP_HOST=0.0.0.0
APP_PORT=8000
APP_DEBUG=true
CORS_ALLOW_ORIGINS=*
CORS_ALLOW_METHODS=*
CORS_ALLOW_HEADERS=*
CORS_ALLOW_CREDENTIALS=false

# EFI
EFI_CLIENT_ID=Client_Id_xxx
EFI_CLIENT_SECRET=Client_Secret_xxx
EFI_SANDBOX=true
# Se quiser fixar manualmente, use um destes:
# Sandbox: https://cobrancas-h.api.efipay.com.br
# Produção: https://cobrancas.api.efipay.com.br
EFI_BASE_URL=https://cobrancas-h.api.efipay.com.br
EFI_TIMEOUT_SECONDS=30

# HASURA
HASURA_GRAPHQL_URL=https://seu-hasura.com/v1/graphql
HASURA_ADMIN_SECRET=seu_admin_secret
HASURA_TIMEOUT_SECONDS=20

# Defaults locais
LOCAL_DEFAULT_TIPO=boleto
# Só preencha se o enum financeiro_boleto_status aceitar esse valor
LOCAL_DEFAULT_STATUS=
